<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Tech Blog</title>
  <!--<link rel="stylesheet" type="text/css" href="/css/jass.css">-->
  <link rel="stylesheet" type="text/css" href="/public/css/style.css">
</head>

<body>
 
  <nav>
    <a href="/">Home</a>
    {{#if loggedIn}}
    <button id="logout" class="button">Logout</button>
    {{else}}
    <a href="/public/js/login.js">Login</a>
    {{/if}}
       <a href="/public/js/logout.js">Logout</a>
  </nav>
  <main>
    <h1 class="tech-button">The Tech Blog</h1>
    {{body}}
  </main>
  {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>